node_modules
.DS_Store
_book
dist
lib
es
npm-debug.log
.idea/.name
.idea/compiler.xml
.idea/deku.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/copyright/profiles_settings.xml
